/*-------------------*/
/* Custom Properties */
/*-------------------*/

:root{
    --clr-primary: 207, 100%, 17%;
    --clr-secondary: 32, 100%, 50%;

    --clr-dark: 0, 0%, 0%;
    --clr-light: 0, 0%, 100%;

    --clr-accent-rock: 0, 100%, 74%;
    --clr-accent-paper: 225, 73%, 57%;
    --clr-accent-scissors: 177, 70%, 41%;

    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --fw-700: 700;
    --fw-400: 400;

    --mt-sm: 1em;
    --mt-md: 2em;

    --gap-sm: 1.125em;
    --gap-md: 2em;

    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-full: 50%;
}

/*-------*/
/* Reset */
/*-------*/

body{
    background-image: linear-gradient(rgb(81, 220, 255), rgb(96, 250, 255));
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    color: hsl(var(--clr-primary));
    margin: 0;
    padding-inline: 1em;
}

h1, h2, p{
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }

img{
    max-width: 100%;
    display: block;
}

/*-----------------*/
/* Utility Classes */
/*-----------------*/

/* layout */
.flex{display: flex;}
.flex-row{flex-direction: row;}
.flex-column{flex-direction: column;}
.justify-between{justify-content: space-between;}
.justify-center{justify-content: center;}
.items-center{align-items: center;}
.self-start{align-self: flex-start;}

.container{
    width: 70%;
    margin: 0 auto;
}

.hidden{display: none;}

.mt-sm{margin-top:var(--mt-sm);}
.mt-md{margin-top:var(--mt-md);}

.gap-sm{gap:var(--gap-sm);}
.gap-md{gap:var(--gap-md);}

/* general */
.bg-rounded{
    background-color: #fff;
    border-radius: var(--border-radius-sm);
    padding: 1em 1.5em;
    box-shadow: 2px 2px 5px hsla(var(--clr-dark),50%);
}

/* colors */

.bg-primary {background-color: hsl( var(--clr-primary));}
.bg-secondary {background-color: hsl( var(--clr-secondary));}
.bg-light {background-color: hsl( var(--clr-light));}

.text-primary {color: hsl( var(--clr-primary));}
.text-secondary {color: hsl( var(--clr-secondary));}
.text-light {color: hsl( var(--clr-light));}

.text-rock {color: hsl( var(--clr-accent-rock));}
.text-paper {color: hsl( var(--clr-accent-paper));}
.text-scissors {color: hsl( var(--clr-accent-scissors));}

.border-rock {border-color: hsl(var(--clr-accent-rock));}
.border-paper {border-color: hsl(var(--clr-accent-paper));}
.border-scissors {border-color: hsl(var(--clr-accent-scissors));}

/* typography */

.fs-600{font-size: var(--fs-600);}
.fs-500{font-size: var(--fs-500);}
.fs-400{font-size: var(--fs-400);}
.fs-300{font-size: var(--fs-300);}
.fs-200{font-size: var(--fs-200);}

.fw-400{font-weight: var(--fw-400);}
.fw-700{font-weight: var(--fw-700);}

.text-center{text-align:center}


/*------------*/
/* Components */
/*------------*/

.score{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
}

.score > * {
    padding: .5em 1em;
}

.score__box{
    border: 1px solid hsla(var(--clr-dark),20%);
    border-radius: var(--border-radius-sm);
}

.gameboard{
    padding: 2em 2.5em;
}

.icon{
    width: 100px;
    height: 100px;
    padding: .25em;
}

.options__btn{
    height: 200px;
    width: 200px;
    padding: 2em;
    text-decoration: none;
    color: inherit;
    border-width: 20px;
    border-style: solid;
    border-radius: var(--border-radius-full);
}

a.options__btn:hover,
a.options__btn:focus{
    transform: scale(1.1);
}

#action-btn{
    display: inline-block;
    margin-inline: auto;
    padding: 1em 1.5em;
    text-decoration: none;
    background-color: hsl(var(--clr-primary));
    border-radius: var(--border-radius-md);
}

.action-btn:hover,
.action-btn:focus{
    background-color: hsl(var(--clr-secondary));
}
