
:root{
    --clr-primary: 207, 100%, 17%;
    --clr-secondary: 32, 100%, 50%;
    --clr-dark: 0, 0%, 0%;

    --clr-accent-rock: 0, 100%, 74%;
    --clr-accent-paper: 225, 73%, 57%;
    --clr-accent-scissors: 177, 70%, 41%;

}
body{
    background-image: linear-gradient(rgb(81, 220, 255), rgb(96, 250, 255));
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    color: hsl(var(--clr-primary));
}

body, h1, h2, p{
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }

.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    gap: 1.125em;
    justify-content: space-between;
}

header{
    background-color: #fff;
    border-radius: 5px;
    padding: 1em 1.5em;
    box-shadow: 2px 2px 5px hsla(var(--clr-dark),50%);
    font-size: 0.875rem;
    align-self: flex-start;
}

.header__title--small{
    display: block;
    font-size: 1.125rem;
}


.header__title--rock{
    color: hsl(var(--clr-accent-rock));
}

.header__title--paper{
    color: hsl(var(--clr-accent-paper));
}
.header__title--scissors{
    color: hsl(var(--clr-accent-scissors));
}

.score{
    background: #fff;
    box-shadow: 2px 2px 5px hsla(var(--clr-dark),50%);
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    padding: 1em 1.5em;
    align-self: flex-end;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    gap: 1.125em;
}

.score__title{
    font-size: 1.5rem;
}

.score__subtitle{
    font-size: .875rem;
    font-weight: 400;
    display: block;
}

.score > * {
    padding: .5em 1em;
}

.score__number{
    color: hsl(var(--clr-secondary));
    font-size:2rem;
}

.score__box{
    border: 1px solid hsla(var(--clr-dark),20%);
    border-radius: 5px;
    
}

.gameboard{
    background-color: #fff;
    border-radius: 5px;
    padding: 2em 2.5em;
    box-shadow: 2px 2px 5px hsla(var(--clr-dark),50%);
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
}

.instructions{
    font-weight: 700;
    font-size: 1.5rem;
}

.icon{
    width: 100px;
    height: 100px;
    margin-bottom: .25em;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
}

.options__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 20px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 2em;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

a.options__btn:hover,
a.options__btn:focus{
    transform: scale(1.1);
}

.options--rock{
    border-color: hsl(var(--clr-accent-rock));
}

.options--paper{
    border-color: hsl(var(--clr-accent-paper));
}

.options--scissors{
    border-color: hsl(var(--clr-accent-scissors));
}

.hidden{
    display: none;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2em;
}

.versus{
    font-size: 2rem;
    font-weight: 700;
}

.next-round{
    margin: 0 auto;
    padding: 1em 1.25em;
    background-color: hsl(var(--clr-secondary));
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    display: inline-block;
    margin-top: 2em;
    font-size: 1.125rem;
}

.next-round:hover,
.next-round:focus{
    background-color: hsl(var(--clr-primary));
}

.results__label{
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: .75em;
}